---
layout: default
---

<div class="ui fixed transparent inverted teal main menu">
    <div class="menu">
        <div class="right menu">
            <a href="{{ site.repo }}" class="item">
                <i class="github icon"></i>
                Contribute
            </a>
        </div>

        <a href="#" class="item">
            <i class="home icon"></i>
            Home
        </a>

        <div class="ui dropdown item">
            Menu <i class="dropdown icon"></i>
            <div class="menu">
                {% for section in site.data.main.sections %}
                <a href="{% if forloop.first %}#{% else %}#{{ section.id }}{% endif %}" class="item">
                    <i class="{{ section.icon }} icon"></i>
                    {{ section.title }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="main container">
    <div class="ui grid">
        <div class="column">

            <div class="banner ui icon header">
<!--                 <i class="circular mobile icon"></i> -->
                <h2>BountyPage.IO</h2>
                <div class="sub header">List of
                  <a href="http://en.wikipedia.org/wiki/Open-source_bounty">bug bounties</a>
                  & disclosure programs..
                </div>
                <div class="sub header">
                    Add your own favorite site by submitting a pull request on the
                    <a href="{{ site.repo }}">GitHub repo</a>.
                </div>
            </div>

        {% for section in site.data.main.sections %}
            <div id="{{ section.id }}" class="section">
                <table class="ui table celled compact segment">
                    <thead>
                        <tr>
                            <th class="eleven wide"><h2>{{ section.title }}</h2></th>
                            <th>Reward</th>
                            <th>Swag</th>
                            <th>Hall of Fame</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% assign section_file = site.data[section.id] %}

{% capture website_names %}
{% for website in section_file.websites %}
{{ website.name | downcase }}
{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

                        {% assign lowercase_names = website_names | split:',' | sort %}

                        {% for item in (0..lowercase_names.size) %}
                            {% capture lowercase_name %}{{ lowercase_names[item] | strip | strip_newlines }}{% endcapture %}
                            {% for website in section_file.websites %}
                                {% assign current_name = website.name | downcase %}
                                {% if lowercase_name == current_name %}

                                    <tr>
                                        {% if website.bounty %}
                                            <td class="main positive">
                                            {% if website.img %}
                                                <img src="/img/{{ section.id }}/{{ website.img }}" class="icon" alt="{{ website.name }}">
                                            {% endif %}
                                                <a href="{{ website.url }}">{{ website.name }}</a>
                                            </td>

                                            {% if website.reward %}
                                                <td class="positive icon">
                                                    <i class="checkmark large icon"></i>
                                                </td>
                                            {% else %}
                                                <td class="negative icon">
                                                    <i class="remove large icon"></i>
                                                </td>
                                            {% endif %}

                                            {% if website.swag %}
                                                <td class="positive icon">
                                                    <i class="checkmark large icon"></i>
                                                </td>
                                            {% else %}
                                                <td class="negative icon">
                                                    <i class="remove large icon"></i>
                                                </td>
                                            {% endif %}

                                            {% if website.hof %}
                                                <td class="positive icon">
                                                    <i class="checkmark large icon"></i>
                                                </td>
                                            {% else %}
                                                <td class="negative icon">
                                                    <i class="remove large icon"></i>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        {% else %}
                                            <td class="main negative">
                                            {% if website.img %}
                                                <img src="/img/{{ section.id }}/{{ website.img }}" class="icon" alt="{{ website.name }}">
                                            {% endif %}
                                                <a href="{{ website.url }}">{{ website.name }}</a>
                                            {% if website.status %}
                                                <span class="progress">
                                                    <a class="ui mini orange button" href="{{website.status}}" target="_blank">
                                                        <i class="star icon"></i> In Progress!
                                                    </a>
                                                </span>
                                            {% endif %}
                                            </td>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

            {% unless forloop.last %}
                <div class="ui divider"></div>
            {% endunless %}
            </div><!-- Section -->
        {% endfor %}

        </div><!-- Column -->
    </div><!-- UI Grid -->
</div><!-- Main Container -->
